body { 
  font-family: 'Poppins', sans-serif;
}

/*header*/
.Logo {
    width: 186px;
    height: 24px ;
    margin: 0 393px 0 0;
    object-fit: contain;
  }
  

#nav{
    padding: 33px 140px 0px 140px!important; 
  }

#alogo{
    margin:0px !important;
    padding: 0px !important;

}

  .largeur
  {
   margin: 1px 50px 0px 396px !important;
  }


  .concept {
/* 
    display: inline;   */
    /* top:34px ;
    left: 722;
    width: 73px;
    height: 20px;
    margin: 1px 50px 0px 396px; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: var(--dusk-two);
  }

  /* #apadding{
      padding: 0px 0px;
  } */

  .Qui-sommes-nous {
    /* padding: 0px 0px !important;
    margin: 0px 0px !important;
    width: 146px;
    height: 23px;
    margin: 1px 50px 0 40px; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: var(--dusk-two);
  }

  
  .aide {
    /* padding: 0px 0px !important;
    width: 34px;
    height: 20px;
    margin: 1px 50px 0px; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: var(--dusk-two);
  }

  
  .tarifs {
    /* padding: 0px 0px !important; 
    margin: 0px 0px !important;
    width: 51px;
    height: 20px;
    margin: 1px 50px 3px; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: var(--dusk-two);
  }

  .contact {
    /* padding: 0px 0px !important; 
    width: 74px;
    height: 20px;
    margin: 1px 140px 0px 50px; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: var(--dusk-two);
  }

  /* 1er block image/text*/

  .block1{
    margin: 58px 100px 0px 140px !important;
    padding: 0px !important;
  }

  #pad{
    padding: 0px;
  }
  .Trouvez-votre-prt-i {
    width: 484px;
    height: 23px;
    margin: 32px 0px 11.50px 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--greyblue);
  }
  .trouver{
    margin: 0px 100px 0px 176px !important;
  }
  
  .Trouvez-le-meilleur {
    width: 484px;
    height: 132px;
    margin: 11.5px 0px 10px 0px;
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: normal;
    color: var(--dark-slate-blue);
  }

  .Notre-outil-performa {
    width: 492px;
    height: 84px;
    margin: 10px 0px 2px 0;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--dark-slate-blue);
  }

  .Rectangle {
    width: 273px;
    height: 40px;
    margin: 2px 387px 50px 0;
    padding: 7px 16px;
    border-radius: 2px;
    background-color: var(--dusty-orange);

  }

  .Top_image {
    width: 540px;
    height: 440px;
    margin: 0 100px 131px 168px;
    object-fit: contain;
    top: -21px ;
    position: relative;
  }

  /*liste a puce avec 4 avantages*/

  .check {
    width: 30px;
    height: 30px;
    margin: 0 17px 0 0;
    object-fit: contain;
  }

  .Oval {
    width: 30px;
    height: 30px;
    margin: 0 17px 0 0;
    padding: 3px;
    box-shadow: 0 9px 29px 0 rgba(37, 71, 99, 0.1);
    background-color: var(--robin-s-egg-blue);
  }

  .icedit {
    width: 24px;
    height: 24px;
    object-fit: contain;
    background-color: var(--dark-slate-blue);
  }

  .Rectangle {
    width: 2px;
    height: 13px;
    background-color: var(--dark-slate-blue);
  }

  .li{
      list-style-type: none;
  }

  /* 4 avantages icones*/

  .bg {
    width: 1440px;
    height: 600px;
    margin: 554px 0 150px;
    padding: 192px 140px 104px;
    background-color: var(--dusk);
  }

  .imgavantage_1 {
    width: 260px;
    height: 142px;
    margin: 0 0 31px;
    object-fit: contain;
  }

  .imgavantage_2 {
    width: 260px;
    height: 140px;
    margin: 0 0 26px;
    object-fit: contain;
  }

  .imgavantage_3 {
    width: 260px;
    height: 140px;
    margin: 0 0 26px;
    object-fit: contain;
  }

  .imgavantage_4 {
    width: 260px;
    height: 140px;
    margin: 0 0 26px;
    object-fit: contain;
  }

  /* étapes solutions de financements*/
  .timeline {
    width: 1081px;
    height: 41px;
    margin: 0 219px 180px 0;
    object-fit: contain;
  }

  /* section après solution de financement*/
  .imghelp {
    width: 57px;
    height: 57px;
    margin: 0 15px 0 0;
    object-fit: contain;
  }

  /* block text/image*/

  .imgoutil {
    width: 460px;
    height: 350px;
    margin: 0 40px 0 0;
    object-fit: contain;
    border-radius: 20px;
  }

  .imgcoach {
    width: 460px;
    height: 350px;
    margin: 0 0 0 40px;
    object-fit: contain;
    border-radius: 20px;
  }

  .imgvaleurs {
    width: 460px;
    height: 350px;
    margin: 0 40px 0 0;
    object-fit: contain;
    border-radius: 20px;
  }

  /* labels icones*/
  .imglogo1 {
    width: 260px;
    height: 106px;
    margin: 104px 40px 0 0;
    object-fit: contain;
  }

  .imglogo2 {
    width: 260px;
    height: 106px;
    margin: 104px 40px 0;
    object-fit: contain;
  }

  .imglogo3 {
    width: 260px;
    height: 106px;
    margin: 104px 40px 0;
    object-fit: contain;
  }

  .imglogo4 {
    width: 260px;
    height: 106px;
    margin: 104px 0 0 40px;
    object-fit: contain;
  }


