body { 
  font-family: 'Poppins', sans-serif;
}

/*header*/
li.nav-item{
  margin-left: 50px;
}
/* .Logo {
    width: 186px;
    height: 24px ;
    margin: 0 393px 0 0;
    object-fit: contain;
  } */
  
 .marg{
   margin: 0px !important;
 } 

#navpad{
    padding-top: 33px !important; 
  }

  .container{
    max-width: 1200px;
  } 

#alogo{
    margin:0px !important;
    padding: 0px !important;

}

  /* .largeur
  {
   margin: 1px 50px 0px 396px !important;
  } */


  .concept {
/* 
    display: inline;   */
    /* top:34px ;
    left: 722;
    width: 73px;
    height: 20px;
    margin: 1px 50px 0px 396px; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color:#463b5a !important;
  }

  /* #apadding{
      padding: 0px 0px;
  } */

  .Qui-sommes-nous {
    /* padding: 0px 0px !important;
    margin: 0px 0px !important;
    width: 146px;
    height: 23px;
    margin: 1px 50px 0 40px; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color:#463b5a !important;
  }

  
  .aide {
    /* padding: 0px 0px !important;
    width: 34px;
    height: 20px;
    margin: 1px 50px 0px; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color:#463b5a !important;
  }

  
  .tarifs {
    /* padding: 0px 0px !important; 
    margin: 0px 0px !important;
    width: 51px;
    height: 20px;
    margin: 1px 50px 3px; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color:#463b5a !important;
  }

  .contact {
    /* padding: 0px 0px !important; 
    width: 74px;
    height: 20px;
    margin: 1px 140px 0px 50px; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color:#463b5a !important;
  }

  /* 1er block image/text*/

  .block1{
    margin: 55px 100px 0px 140px !important;
    padding: 0px  !important;
  }

  #pad{
    padding: 0px !important;
  }

  .Trouvez-votre-prt-i {
    width: 484px;
    height: 23px;
    margin: 35px 0px 11.50px 14px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #82a9a4;
  }
  .trouver{
    /* margin: 0px 100px 0px 176px !important; */
  }
  
  .Trouvez-le-meilleur {
    width: 484px;
    height: 132px;
    margin: 11.5px 0px 10px 14px;
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: normal;
    color: #223a5c;
  }

  .Notre-outil-performa {
    width: 492px;
    height: 84px;
    margin: 10px 0px 2px 14px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #223a5c;
  }

  .Rectangle {
    width: 273px !important;
    height: 40px !important;
    margin: 0px 387px 50px 14px;
    padding: 7px 16px;
    border-radius: 2px;
    background-color: #ee8446 !important;

  }

 

  #margcol{
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding: 0px !important;
  }

  /* .label {
    width: 241px;
    height: 26px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  } */

  .Top_image {
    width: 540px !important;
    height: 440px !important;
    /* margin: 0 100px 131px 168px; */
    object-fit: contain;
    top: -21px ;
    position: relative;
    float: right !important;
  }

  #margimg{
    margin-top: 55px  !important;
    padding: 0px !important;
 
  }

  /*liste a puce avec 4 avantages*/

  #margul{
    padding: 0px !important;
    margin: 0px !important;
   
  }

  .La-proposition-et-le {
    /* width: 565px;
    height: 28px; */
    margin: 2px 0 0 17px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1em;
    letter-spacing: normal;
    color: #223a5c;
    /* background-size: ; */
  }

  .check {
    width: 30px;;
    height: 30px;
    object-fit: contain;
  }

  .Oval {
    width: 30px;
    height: 30px;
    margin: 0 17px 0 0;
    padding: 3px;
    box-shadow: 0 9px 29px 0 rgba(37, 71, 99, 0.1);
    background-color: var(--robin-s-egg-blue);
  }

  .icedit {
    width: 24px;
    height: 24px;
    object-fit: contain;
    background-color: var(--dark-slate-blue);
  }

  .Rectangle {
    width: 2px;
    height: 13px;
    background-color: var(--dark-slate-blue);
  }

  .li{
      list-style-type: none;
  }

  /* 4 avantages icones*/

  #heightblock{
    height: 600px;
    width: 1400px;
  }
#con{
 text-align: center ;
  
}


  .bg {
    width: 1440px;
    height: 600px;
    margin: 554px 0 150px;
    padding: 192px 140px 104px;
    background-color: var(--dusk);
  }

  .imgavantage_1 {
    width: 260px;
    height: 142px;
    margin: 192px 20px 31px 0px;
    object-fit: contain;
  }

  .imgavantage_2 {
    width: 260px;
    height: 140px;
    margin: 200px 20px 26px 20px;
    object-fit: contain;
  }

  .imgavantage_3 {
    width: 260px;
    height: 140px;
    margin: 200px 20px 26px 20px;
    object-fit: contain;
  }

  .imgavantage_4 {
    width: 260px;
    height: 140px;
    margin: 200px 0px 26px 20px;
    object-fit: contain;
  }

  /* étapes solutions de financements*/
  .Une-rponse-instanta {
    width: 484px;
    height: 26px;
    margin: 0 816px 16px 140px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #82a9a4;
  }

    .Votre-solution-de-fi {
      width: 840px;
      height: 44px;
      margin: 0px 460px 75px 140px;
      font-family: Poppins;
      font-size: 30px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      color: #223a5c;
    }

  
  .timeline {
    width: 1081px;
    height: 41px;
    margin: 0 0px 16px 0;
    object-fit: contain;
    display: inline-block;
  }

  .Remplissez-le-formul {
    width: 260px;
    height: 22px;
    margin: 0 0 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #463b5a;
  }

  .Ces-informations-nou {
    width: 260px;
    height: 88px;
    margin: 10px 0 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #463b5a;
  }

  .Obtenez-directement {
    width: 260px;
    height: 44px;
    margin: 0 0 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #463b5a;
  }

  .Si-votre-demande-est {
    width: 260px;
    height: 88px;
    margin: 10px 0 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color:#463b5a;
  }

  .Accdez-aux-coordonn {
    width: 260px;
    height: 66px;
    margin: 0 0 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color:#463b5a;
  }

  .Nous-vous-communiquo {
    width: 260px;
    height: 88px;
    margin: 10px 0 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #463b5a;
  }

  .Prenez-RDV-avec-la-b {
    width: 260px;
    height: 22px;
    margin: 0 0 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #463b5a;
  }

  .Nous-vous-donnons-to {
    width: 260px;
    height: 66px;
    margin: 10px 0 16px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color:#463b5a;
  }

  .Rectangle2 {
    width: 126px;
    height: 40px;
    margin: 16px 40px 0 0;
    padding: 7px 16px;
    border-radius: 2px;
    background-color: #ee8446

    ;
  }

  /* section après solution de financement*/
  #block{
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 150px !important;
  }
  .imghelp {
    display: block;
    width: 57px;
    height: 57px;
    margin-left: auto !important;
    margin-right: auto !important;
    object-fit: contain;
    margin: 28px 15px 29px 28px !important;
  }

  #padp{
    padding:30px 0px 31px 0px !important;
    
    
  }

  .Loutil-na-pas-pu-v {
    width: 589px;
    height: 22px;
    margin: 0px 0px 9px 0px !important;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color:#463b5a;
  }

  .Un-de-nos-coachs-fin {
    height: 22px;
    margin: 0px !important;
    font-family: Poppins;
    font-size: 16px; 
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #463b5a;
  }

  /* block text/image*/

  #padblock{
    padding: 150px 140px !important;
  }

  #bblock{
    border: 224px 140px 174px 40px !important;
    padding: 0px;
  }

  .imgoutil {
    width: 460px;
    height: 350px;
    margin: 0 40px 0 0;
    object-fit: contain;
    border-radius: 20px;
  }

  .Notre-outil {
    width: 87px;
    height: 26px;
    margin:74px 573px 0px 0px !important;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #82a9a4;
  }

  .Une-recherche-adapt {
    width: 660px;
    height: 44px;
    margin: 10px 0;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color:#223a5c;
  }
  .Nous-matchons-votre {
    width: 660px;
    height: 112px;
    margin: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #223a5c;
  }


  .Nos-coachs-financier {
    width: 183px;
    height: 26px;
    margin: 166px 517px 0px 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #82a9a4;
  }
  .Une-relle-expertise {
    width: 660px;
    height: 44px;
    margin: 10px 0px ;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #223a5c;
  }
  .Notre-quipe-est-com {
    width: 660px;
    height: 84px;
    margin: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #223a5c;
  }
  .imgcoach {
    width: 460px;
    height: 350px;
    margin: 100px 0 0 40px;
    object-fit: contain;
    border-radius: 20px;
    float: right;
  }

  .marg{
    margin-bottom: 0px !important;
    
  }


  .imgvaleurs {
    width: 460px;
    height: 350px;
    margin: 100px 40px 0 0;
    object-fit: contain;
    border-radius: 20px;
  }
  .Nos-valeurs {
    width: 97px;
    height: 26px;
    margin: 174px 563px 0px 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #82a9a4;
  }
  .Transparence-et-qual {
    width: 660px;
    height: 44px;
    margin: 10px 0;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #223a5c;
  }
  .Nous-souhaitons-rvo {
    width: 660px;
    height: 112px;
    margin: 0px 0 0;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #223a5c;
  }

  /* labels icones*/
  .Labels {
    width: 53px;
    height: 23px;
    margin: 150px 693px 13px 694px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#82a9a4;
  }
  .Nos-accrditations {
    width: 660px;
    height: 44px;
    margin: 0px 0px 104px 390px !important;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #223a5c;
  }

  .imglogo1 {
    width: 260px;
    height: 106px;
    margin: 0px ;
    object-fit: contain;
    
  }

  .imglogo2 {
    width: 260px;
    height: 106px;
    margin: 0px ;
    object-fit: contain;
  }

  .imglogo3 {
    width: 260px;
    height: 106px;
    margin: 0px ;
    object-fit: contain;
  }

  .imglogo4 {
    width: 260px;
    height: 106px;
    margin: 0px ;
    object-fit: contain;
  }

  #margg{
    margin-left: 140px !important;
    margin-right: 140px !important;
    padding: 0px !important;
  }


